<section class="testi_wrapper">
  <div class="testi_container">
    <div class="headline_wrapper">
      <h2>{{ 'TESTIMONIALS.TITLE' | translate }}</h2>
    </div>

   <div class="carousell_wrapper"
     [class.transitioning]="isTransitioning"
     [style.transform]="getTransform()">

  @for (testimonial of 'TESTIMONIALS.CARDS' | translate; track testimonial.name; let i = $index) {
    <div class="carousell_container"
         [class.active]="i === currentIndex"
         [class.prev]="i === (currentIndex - 1 + ('TESTIMONIALS.CARDS' | translate).length) % ('TESTIMONIALS.CARDS' | translate).length"
         [class.next]="i === (currentIndex + 1) % ('TESTIMONIALS.CARDS' | translate).length">
      <h4>{{ testimonial.text }}</h4>
      <div class="author">
        <div class="line"></div>
        <p>{{ testimonial.name }}</p>
      </div>
    </div>
  }
</div>

    <div class="caroussel_navigation">
      <p class="arrow" (click)="prev()" >&larr;</p>
      <div class="dots">
        @for (dot of testimonials; track dot.name; let i = $index) {
          <span class="dot"
                [class.active]="i === currentIndex % testimonials.length"
                (click)="currentIndex = i"></span>
        }
      </div>
      <p class="arrow" (click)="next()" >&rarr;</p>
    </div>
  </div>
</section>
