<footer class="footer">
  <div class="footer-container">

    <div class="footer-row-container">
      <div class="footer-left">
        <div class="logo">
    <img src="./assets/icon_logos/09020954-9e3e-4577-9853-4d4db9f30b3f.png" alt="">
  </div>
  
  

        <p>{{ 'FOOTER.ROLE' | translate }}</p>
        <p>{{ 'FOOTER.LOCATION' | translate }}</p>
      </div>

      <div class="footer-right">
        <a href="https://github.com/ameralkahldi">{{ 'FOOTER.GITHUB' | translate }}</a>
        <a href="https://www.linkedin.com/in/ameralkhalidy/">{{ 'FOOTER.LINKEDIN' | translate }}</a>
        <a href="mailto:amer.alkhaldi@icloud.com">{{ 'FOOTER.EMAIL' | translate }}</a>
        <a [routerLink]="['/legal']">{{ 'FOOTER.LEGAL' | translate }}</a>
      </div>
    </div>

    <div class="footer-center">
      <p class="copyright">
        &copy; 2025 <strong>Amer Alkhalidy</strong>. {{ 'FOOTER.RIGHTS' | translate }}
      </p>
    </div>

  </div>
</footer>
