<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <p class="footer-logo">Footer Logo</p>
      <p>Web Developer</p>
      <p>Munich, Germany</p>
    </div>

    <div class="footer-center">
      <p class="copyright"> &copy; amer alkhalidy 2025</p>
    </div>

    <div class="footer-right">
      <a href="https://github.com/ameralkahldi">Github</a>
      <a href="https://www.linkedin.com/in/ameralkhalidy/">LinkedIn</a>
      <a href="mailto:amer.alkhaldi@icloud.com">Email</a>
      <a [routerLink]="['/legal']">Legal Notice</a>
    </div>
  </div>
</footer>
