<footer class="footer">
  <div class="footer-container">

    <div class="footer-row-container">
      <div class="footer-left">
        <a href="#" class="logo">
          <div class="logo-icon">AA</div>
          <div class="logo-text">
            <span class="amer">Amer</span>
            <span class="alkhalidy">Alkhalidy</span>
          </div>
        </a>


        <p>{{ 'FOOTER.ROLE' | translate }}</p>
        <p>{{ 'FOOTER.LOCATION' | translate }}</p>
      </div>

      <div class="footer-right">
        <a href="https://github.com/ameralkahldi">{{ 'FOOTER.GITHUB' | translate }}</a>
        <a href="https://www.linkedin.com/in/amer-alkhalidy/">{{ 'FOOTER.LINKEDIN' | translate }}</a>
        <a href="mailto:amer.alkhaldi@icloud.com">{{ 'FOOTER.EMAIL' | translate }}</a>
        <a [routerLink]="['/legal']">{{ 'FOOTER.LEGAL' | translate }}</a>
      </div>
    </div>

    <div class="footer-center">
      <p class="copyright">
        &copy; 2025 <strong>Amer Alkhalidy</strong>. {{ 'FOOTER.RIGHTS' | translate }}
      </p>
    </div>

  </div>
</footer>