.footer {

  padding: 2rem 1rem;
  color: #ffffff;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: left;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

.logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-family: 'Poppins', sans-serif;

  .logo-icon {
    background: linear-gradient(135deg, #32b49b, #29a49a);
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    span {
      font-size: 0.8rem;
      margin-left: 1px;
    }
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;

    .name {
      font-size: 1.1rem;
      font-weight: 600;
      color: #f0e5e5;
      text-align: center;
    }

    .surname {
      font-size: 1rem;
      color: #f0e5e5;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
}

  .footer-left p {
    margin: 0;
    font-size: 1rem;
    color: #ccc;
  }

  .footer-center {
    text-align: center;

   .copyright {
  font-size: 18px;
  color: #3dcfb6;
  font-family: 'Poppins', sans-serif;
  margin-top: 25px;
  text-align: center;
  font-weight: 500;
}

  }

  .footer-right {
    align-items: flex-end;

    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s;

      &:hover {
        color: #3dcfb6;
      }
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }
}
