.projects {
  display: flex;
  justify-content: center;
  padding-right: 28rem;
  margin-top: 5rem;

  .portfolio-title {
    
    font-weight: 700;
    color: #2aa48a;
    font-family: 'Karla';
    font-size: 24px;
  }

  .section-title {
    font-size: 64px;
    color: #3dcfb6;
    margin-bottom: 0.25rem;
    font-family: 'Fira Code', monospace;
    font-weight: 700;

  }

  .subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: 'Karla';
    font-weight: 400;
  }
}
 .project-list {
  .project-box {
    display: flex;
    justify-content: space-between;
    
    padding: 1rem 0;
    border-bottom: 1px solid #3dcfb6;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3dcfb6;

      .title-arrow {
        opacity: 1;
        transform: translateX(4px);
      }
    }

    &.active {
      background-color: #12c794;
      font-weight: 700;
      color: #ffffff;
    }

    .project-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
      color: #ffffff;
      font-size: 1.1rem;

      .title-arrow {
        width: 16px;
        height: 16px;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
    }

    .tech-stack {
      font-style: italic;
      color: #ffffff;
      font-size: 1rem;
    }
  }
}


.project-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.project-card-modal {
  background: linear-gradient(135deg, #1C1C1C, #1e2b1f, #08463B);
  padding: 2.5rem;
  border-radius: 12px;
width: 1200px;
height: 656px;

  overflow-y: auto;
  display: flex;
  gap: 2rem;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.project-left {
  flex: 2;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;

  .project-id {
    font-weight: bold;
    font-size: 5rem;
    color: #3DCFB6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .project-title {
    font-size:64px;
    font-weight: 700;
    margin: 0;
  }

  .project-question {
    color: #3DCFB6;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .tech-stack-icons {
    display: flex;
    gap: 2rem;

    .tech-icon {
      width: 75px;
      height: 24px;
    
    }
  }

 .btn-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  .btn {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.6rem 1.2rem;
    background-color: #333;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;

    &:hover {
      background-color: #000;
    }

    &.btn-secondary {
      background-color: #777;

      &:hover {
        background-color: #555;
      }
    }

    .btn-icon {
      width: 16px;
      height: 16px;
    }
  }
}}


.project-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .close-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-left: 27rem;
    
  }

  .project-image {
    width: 520px;
    height: 370px;
    border-radius: 30px;
    object-fit: cover;
    margin-right: 50px;
  }

  .next-project {
    display: flex;
    margin-left: 20rem;
    gap: 1rem;
    cursor: pointer;

    .next-text,
    .arrow {
      color:#3DCFB6;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
