<section class="home-hero">
  <div class="hero-content centered">
    <div class="text-content">
      <h1 class="role">Frontend Developer</h1>
      <h2 class="name">Amer Alkhalidy</h2>

      <div class="cta-buttons">
        <a href="#projects" class="btn btn-primary">Check My Work</a>
        <a href="#contact" class="btn btn-secondary">Contact Me</a>
      </div>

     <div class="bottom-row">
        <a href="#next-section" class="scroll-down-arrow">↓</a>

        <a href="https://github.com/ameralkahldi" target="_blank" class="github-icon">
          <img src="assets/img/GitHub_logo.png" alt="GitHub" />
        </a>
      </div>
    </div>
  </div>

</section>
