<section class="home-hero">
  <div class="hero-content centered">
    <div class="text-content">
      <h4 class="role">{{ 'HOME.ROLE' | translate }}</h4>
      <h1 class="name">Amer Alkhalidy</h1>

      <div class="cta-buttons">
        <a href="#projects" class="btn btn-primary">
          <span class="scroll-text">{{ 'HOME.CHECK_WORK' | translate }}</span>
        </a>
        <a href="#contact" class="btn btn-secondary">
          <span class="scroll-text">{{ 'HOME.CONTACT_ME' | translate }}</span>
        </a>
      </div>

      <div class="bottom-row">
        <a href="#about" class="scroll-down-arrow">
          <span class="arrow">↓</span>
        </a>

        <div class="social-icons">
          <a href="mailto:amer.alkhaldi@icloud.com" class="email-icon">
       <img src="assets/icon_logos/mail.png" alt="Email Icon" class="email-icon-img" />
      </a>
          <a href="https://github.com/ameralkahldi" target="_blank" class="icon github-icon">
            <img src="./assets/icon_logos/Vector (1).png" alt="GitHub" />
          </a>
          <a href="https://www.linkedin.com/in/ameralkhalidy/" target="_blank" class="icon linkedin-icon">
            <img src="./assets/icon_logos/Component 3.png" alt="LinkedIn" />
          </a>
        </div>
      </div>
      <div class="hr-home">
        <hr class="space-left2">
        <hr class="space-right2">
      </div>

    </div>
  </div>

  <div class="angled-banner">
    <div class="marquee">
      <span>{{ 'HOME.AVAILABLE' | translate }}</span>
      <span>.</span>
      <span>{{ 'HOME.ROLE' | translate }}</span>
      <span>.</span>
      <span>{{ 'HOME.LOCATION' | translate }}</span>
      <span>.</span>
      <span>{{ 'HOME.OPEN' | translate }}</span>
      <span>.</span>

      <span>{{ 'HOME.AVAILABLE' | translate }}</span>
      <span>.</span>
      <span>{{ 'HOME.ROLE' | translate }}</span>
      <span>.</span>
      <span>{{ 'HOME.LOCATION' | translate }}</span>
      <span>.</span>
      <span>{{ 'HOME.OPEN' | translate }}</span>
      <span>.</span>
    </div>
  </div>
</section>
