@use "sass:color";

$primary-color: #3DCFB6;
$secondary-color: #fff;
$font-main: 'Segoe UI', sans-serif;

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

.home-hero {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25ms ease;
  padding: 2rem;
  position: relative;
  overflow: hidden;


}

.hero-content {
  &.centered {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
    margin-top: 3rem;

    @include respond-to(sm) {
      margin-top: 5rem;
    }
  }

  .text-content {
    h4.role {
      font-size: 40px;
      margin-bottom: 0.5rem;
      font-weight: 400;
      font-family: 'Fira Code', monospace;


      @include respond-to(md) {
        font-size: 28px;
      }

      @include respond-to(xs) {
        font-size: 22px;
      }
    }

    h1.name {
      font-size: 100px;
      font-family: 'Karla';
      font-weight: 700;
      margin-bottom: 2rem;
      color: color.adjust($secondary-color, $lightness: 40%);

      @include respond-to(md) {
        font-size: 64px;
      }

      @include respond-to(sm) {
        font-size: 48px;
      }

      @include respond-to(xs) {
        font-size: 36px;
      }
    }


    @include respond-to(sm) {
      flex-direction: column;
      gap: 0.5rem;

      hr.space-left2,
      hr.space-right2 {
        width: 100%;
      }
    }
  }

  p.bio {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 2rem auto;
    line-height: 1.6;
    color: color.adjust($secondary-color, $lightness: -20%);

    @include respond-to(md) {
      font-size: 18px;

    }

    @include respond-to(xs) {
      font-size: 16px;

    }
  }

  .cta-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    flex-wrap: wrap;

    .btn {
      padding: 0.75rem 1.5rem;
      border-radius: 30px;
      text-decoration: none;
      font-weight: 600;
      transition: all 0.3s ease;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      background-color: transparent;
      border: 2px solid transparent;
      color: $secondary-color;

      .scroll-text {
        display: inline-block;
        transition: transform 0.3s ease;
      }

      &:hover {
        border-color: $primary-color;
        color: $primary-color;
      }

      &:hover .scroll-text {
        animation: scroll-left 2s linear infinite;
      }

      &.btn-primary {
        border: 2px solid $secondary-color;

        &:hover {
          color: lighten($primary-color, 15%);
          border-color: lighten($primary-color, 15%);
        }
      }

      &.btn-secondary {
        border: 2px solid $secondary-color;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }
}

.bottom-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  padding: 0 2rem;
  transition: all 0.3s ease;;
}

.arrow-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;



  .scroll-down-arrow {
    text-decoration: none;
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 60px;
    border: 1px solid #3DCFB6;
    border-radius: 2rem;

    background: transparent;
    color: #3DCFB6;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;

    animation: bounceUpDown 1.5s infinite;

    &:hover {
      background: #3DCFB6;
      color: #fff;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  @keyframes bounceUpDown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }
  }

}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  a {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    left: 0;

    img {
      transition: filter 0.3s ease;
    }

    .email-icon-img {
      display: none;
    }

    p {
      color: #fff;
      margin: 0;
      transform: rotate(90deg);
      white-space: nowrap;
      margin-bottom: 90px;
    }

    @include respond-to(lg) {
      p {
        display: none;
      }

      .email-icon-img {
        display: block;
      }
    }

    &:hover img {
      filter: brightness(0) invert(1);
    }

    &:hover::after {
      content: "";
      position: absolute;
      top: 50%;
      left: calc(100% + 8px);
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
    }
  }
}


.right-line {
  border: none;
  border-left: 2px solid $primary-color;
  height:320px;
  opacity: 0.2;
}

.left-line {
  border: none;
  border-left: 2px solid $primary-color;
  height: 320px;
  opacity: 0.2;
}

.angled-banner {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.12);
  color: $primary-color;
  overflow-x: hidden;
  padding: 1rem 3rem;
  font-size: 32px;
  font-weight: 400;
  transform: skewY(-3deg);
  position: relative;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Fira Code', monospace;
  bottom: 230px;

  .marquee {
    display: flex;
    gap: 3rem;
    animation: scroll-loop 20s linear infinite;
    white-space: nowrap;
  }
  
  span {
    white-space: nowrap;
  }

  @include respond-to(sm) {
    font-size: 20px;
    padding: 1rem 2rem;
  }
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-25%);
  }
}

@keyframes scroll-word-by-word {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes bounceUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}