<section class="home-hero">
  <div class="hero-content centered">
    <div class="text-content">
      <h4 class="role">Frontend Developer</h4>
      <h1 class="name">Amer Alkhalidy</h1>

      <div class="cta-buttons">
        <a href="#projects" class="btn btn-primary">
          <span class="scroll-text" >Check My Work</span>
        </a>
        <a href="#contact" class="btn btn-secondary">
          <span class="scroll-text">Contact Me</span>
        </a>
      </div>

      <div class="bottom-row">
        <a href="#about" class="scroll-down-arrow">
          <span class="arrow">↓</span>
        </a>

        <div class="social-icons">
          <a href="mailto:amer.alkhaldi@icloud.com" class="email-icon">amer.alkhaldi@icloud.com</a>
          <a href="https://github.com/ameralkahldi" target="_blank" class="icon github-icon">
            <img src="assets/icon_logos/Vector (1).png" alt="GitHub" />
          </a>
          <a href="https://www.linkedin.com/in/ameralkhalidy/" target="_blank" class="icon linkedin-icon">
            <img src="assets/icon_logos/Component 3.png" alt="LinkedIn" />
          </a>
        </div>
      </div>
    </div>
  </div>

<div class="angled-banner">
  <div class="marquee">
    <span>Available for remote work</span>
    <span>.</span>
    <span>Frontend Developer</span>
    <span>.</span>
    <span>Based in Munich</span>
    <span>.</span>
    <span>Open to work</span>
    <span>.</span>

    <span>Available for remote work</span>
    <span>.</span>
    <span>Frontend Developer</span>
    <span>.</span>
    <span>Based in Munich</span>
    <span>.</span>
    <span>Open to work</span>
    <span>.</span>
  </div>
</div>

</section>
