$primary-color: #a0ca70;
$hover-color: #ad7d23;
$lang-hover-color: #00bcd4;
$text-color: white;

.navbar {
  display: flex;
  justify-content: space-between; // توزيع العناصر على الأطراف
  align-items: center;
  padding: 15px 30px;
  color: $text-color;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 80px;

  .logo {
    flex: 1;

    a {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      color: $text-color;
    }
  }

  .nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 10%;

    a {
      text-decoration: none;
      color: $text-color;
      transition: color 0.3s;

      &:hover,
      &.active {
        color: $hover-color;
      }
    }
  }

  .language-switch {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    button {
      background: none;
      border: none;
      color: $text-color;
      margin: 0 5px;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: $hover-color;
      }
    }
  }
}
