.navbar {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25ms ease;
  padding: 2rem;
  z-index: 1000;
  
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 24px;
  margin-right: auto;
  font-family: 'Fira Code', monospace;

  a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: color 0.3s;

    &.active,
    &:hover {
      color: #3DCFB6;
    }

    &.active::after,
    &:hover::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #3DCFB6;
    }
  }

  .mobile-lang {
    display: none;
  }
}


.desktop-lang {
  display: inline-flex;
  border: 1px solid #3DCFB6;
  border-radius: 20px;
  overflow: hidden;

  button {
    padding: 0.5rem 1.4rem;
    background-color: transparent;
    color: #3DCFB6;
    font-weight: 600;
    font-size: 0.95rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:first-child {
      border-right: 1px solid #3DCFB6;
    }

    &.active {
      background-color: #3DCFB6;
      color: white;
    }

    &:hover:not(.active) {
      background-color: rgba(61, 207, 182, 0.1);
    }
  }
}


.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.logo-icon {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3DCFB6;
  border: 2px solid #3DCFB6;
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
  background: #ffffff;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.logo-text .amer {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.logo-text .alkhalidy {
  color: #3DCFB6;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}




.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #3DCFB6;
  background: none;
  border: none;
}

@media (max-width: 800px) {
  .navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      order: 1;
    }

    .menu-toggle {
      display: block;
      order: 2;
      margin-left: 0;
    }

    .desktop-lang {
      display: none;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-right: 0;
      background: linear-gradient(35deg, #1c1c1c 30%, #225c51);
      padding: 1rem 2rem;
      position: absolute;
      top: 90px;
      left: 0;
      right: 0;
      border-radius: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      z-index: 999;
      text-align: center;

      a {
        font-size: 1.1rem;
        color: white;
        font-weight: 600;

        &:hover,
        &.active {
          color: #3DCFB6;
        }
      }



      .mobile-lang {
        display: inline-flex;
        margin-top: 1rem;
        border: 1px solid #3DCFB6;
        border-radius: 12px;
        overflow: hidden;

        button {
          padding: 0.5rem 1.4rem;
          background-color: transparent;
          color: #3DCFB6;
          font-weight: 600;
          font-size: 0.95rem;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease;

          &:first-child {
            border-right: 1px solid #3DCFB6;
          }

          &.active {
            background-color: #3DCFB6;
            color: white;
          }

          &:hover:not(.active) {
            background-color: rgba(61, 207, 182, 0.1);
          }
        }
      }
    }

    .nav-links.open {
      display: flex;
    }
  }
}