<header class="navbar">
  <div class="language-switch desktop-lang">
    <button [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">EN</button>
    <button [class.active]="currentLang === 'de'" (click)="switchLanguage('de')">DE</button>
  </div>

  <nav class="nav-links" [class.open]="isMenuVisible">
 <a href="#about" (click)="closeMenu()">{{ 'NAV.ABOUT' | translate }}</a>
<a href="#skills" (click)="closeMenu()">{{ 'NAV.SKILLS' | translate }}</a>
<a href="#projects" (click)="closeMenu()">{{ 'NAV.PROJECTS' | translate }}</a>

   

    <div class="language-switch mobile-lang">
      <button [class.active]="currentLang === 'en'" (click)="switchLanguage('en'); closeMenu()">EN</button>
      <button [class.active]="currentLang === 'de'" (click)="switchLanguage('de'); closeMenu()">DE</button>
    </div>
  </nav>

  <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">&#9776;</button>

  
    

</header>
