<section class="technologies">
  <div class="container">
    <h5 class="section-title">{{ 'TECHNOLOGIES.TITLE' | translate }}</h5>

    <div class="content-wrapper">
      <div class="header-box">
        <h3>{{ 'TECHNOLOGIES.SKILLSET' | translate }}</h3>

        <p>
          {{ 'TECHNOLOGIES.DESCRIPTION' | translate }}
        </p>

        <p class="contact-note">
          <span class="highlighted-question">{{ 'TECHNOLOGIES.QUESTION' | translate }}</span><br /><br />
          {{ 'TECHNOLOGIES.CONTACT_NOTE' | translate }}
        </p>
        <a href="#contact" class="btn-talk">
          <span class="scroll-text">
            {{ 'TECHNOLOGIES.TALK_BUTTON' | translate }}
          </span>
        </a>
        </div><div></div>


        <div class="skills-grid">
          @for (skill of skills; track skill.icon) {
          <div class="skill-card">
            <img [src]="skill.icon" [alt]="skill.icon" />
            <p>{{skill.text}}</p>
          </div>
          }
        </div>
      </div>
    </div>
</section>