.about-me {
  padding: 4rem;
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100svh;
  max-width: 1540px;
  margin: 0 auto;

  .about-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 7rem;
  }

  .left-side {
    position: relative;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    max-width: 568px;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    overflow: hidden;
  }

  .line_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    display: block;
    opacity: 0.9;
    z-index: 1;
    position: relative;
  }

  .amer_image {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 30px;
    object-fit: cover;
    z-index: 2;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s ease;
  }

 

  .line_image {
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 1;
    position: relative;
  }

  .line_image.visible {
    opacity: 1;
  }

 

  @media (max-width: 1000px) {
    .line_image {
      display: none;
    }

    .amer_image {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      width: 80%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }

  @media (max-width: 600px) {
    .amer_image {
      width: 300px;
      height: 300px;
    }
  }


  .right-side {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .label {
      font-size: 24px;
      color: #3dcfb6;
      margin-top: 5rem;
      font-weight: 500;
      font-family: 'Karla';
    }

    .about-box {
      background-color: rgba(61, 207, 182, 0.1);
      padding: 2rem;
      border-radius: 30px;
      width: 100%;
      max-width: 568px;
      border: 1px solid #3dcfb6;
      height: auto;

      h2 {
        font-size: 64px;
        margin-bottom: 1rem;
        color: #3dcfb6;
        font-weight: bold;
        font-family: 'Fira Code', monospace;
      }

      p {
        font-size: 18px;
        line-height: 120%;
        text-align: justify;
        color: #ffffff;
        font-family: 'Karla', sans-serif;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      .info-item {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 1.5rem;

        img {
          width: 30px;
          height: 30px;
        }

        p {
          margin: 0;
          color: #ddd;
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  .about-me {
    padding: 3rem 2rem;

    .about-wrapper {
      gap: 1.5rem;
      justify-content: center;
      padding-left: 1.5;
    }

    .right-side {
      .about-box {
        max-width: 100%;

        h2 {
          font-size: 48px;
        }

        p {
          font-size: 18px;
        }
      }
    }

    .left-side {
      .image-wrapper {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 850px) {
  .about-me {
    flex-direction: column;
    padding: 10rem 1rem;

    .about-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      gap: 1rem;
    }

    .right-side {
      align-items: center;

      .label {
        font-size: 20px;
        margin-top: 2rem;
      }

      .about-box {
        padding: 1.5rem;
        border-radius: 20px;

        h2 {
          font-size: 36px;
          text-align: center;
        }

        p {
          font-size: 18px;
          text-align: justify;
        }

        .info-item {
          flex-direction: row;
          align-items: center;

          img {
            width: 24px;
            height: 24px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }

    .left-side {
      .image-wrapper {
        max-width: 100%;
        margin-top: 0;

        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .about-me {
    .right-side {
      .about-box {
        h2 {
          font-size: 28px;
        }

        p {
          font-size: 18px;
        }
      }

      .label {
        font-size: 18px;
      }
    }

    .left-side {
      .image-wrapper {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}