.about-me {
  height: 100vh; 
  padding: 4rem;
  background-color: #1c1c1c;
  color: #fff;

  display: flex; 
  align-items: center;
  justify-content: center;

  .about-wrapper {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .left-side {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;

    .image-wrapper {
      width: 100%;
      max-width: 568px;
      aspect-ratio: 1 / 1;
      border-radius: 10px;
      overflow: hidden;
      margin-top: -40px;

      img {
        width: 568px;
      height: 550px;
        object-fit: cover;
        display: block;
      }
    }
  }

  .right-side {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   

    .label {
      font-size: 1.2rem;
      color: #3dcfb6;
      margin-top:10rem;
    }

    .about-box {
      background-color: rgba(61, 207, 182, 0.1);
      padding: 2rem;
      border-radius: 10px;
      width: 568px;
      height: 550px;
  

      h2 {
        font-size: 60px;
        margin-bottom: 1rem;
        color: #3dcfb6;
        font-weight: 700; 
      }

      p {
        font-size: 0.95rem;
        color: #ccc;
        line-height: 1.6;
        margin-bottom: 1rem;
      }

      .info-item {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 1.5rem;

        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
          margin-top: 0.2rem;
        }

        p {
          margin: 0;
          color: #ddd;
        }
      }
    }
  }
}
