<section class="legal_wrapper">
<div class="legal-notice">
<a  [routerLink]="['/']">&larr;</a>


  <h1>{{ 'LEGAL.TITLE' | translate }}</h1>

  <section>
    <h2>{{ 'LEGAL.PUBLISHER_INFO' | translate }}</h2>
    <ul>
      <li><strong>{{ 'LEGAL.NAME' | translate }}:</strong> Amer Alkhalidy</li>
      <li><strong>{{ 'LEGAL.ADDRESS' | translate }}:</strong> Rober-Koch Str 9</li>
      <li><strong>{{ 'LEGAL.CITY' | translate }}:</strong> 56073 Koblenz</li>
      <li><strong>{{ 'LEGAL.EMAIL' | translate }}:</strong> amer.alkhaldi@icloud.com</li>
    </ul>
  </section>

  <section>
    <h2>{{ 'LEGAL.ACCEPTANCE_TERMS' | translate }}</h2>
    <p>{{ 'LEGAL.ACCEPTANCE_TERMS_TEXT' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'LEGAL.SCOPE_OWNERSHIP' | translate }}</h2>
    <p>{{ 'LEGAL.SCOPE_OWNERSHIP_TEXT_1' | translate }}</p>
    <p>{{ 'LEGAL.SCOPE_OWNERSHIP_TEXT_2' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'LEGAL.PROPRIETARY_RIGHTS' | translate }}</h2>
    <p>{{ 'LEGAL.PROPRIETARY_RIGHTS_TEXT' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'LEGAL.USE_PRODUCT' | translate }}</h2>
    <p>{{ 'LEGAL.USE_PRODUCT_TEXT' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'LEGAL.DISCLAIMER' | translate }}</h2>
    <p>{{ 'LEGAL.DISCLAIMER_TEXT' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'LEGAL.INDEMNITY' | translate }}</h2>
    <p>{{ 'LEGAL.INDEMNITY_TEXT' | translate }}</p>
  </section>

  <section>
    <h2>{{ 'LEGAL.CONTACT' | translate }}</h2>
    <p [innerHTML]="'LEGAL.CONTACT_TEXT' | translate"></p>
  </section>
</div>
</section>
