<section class="contact">
  <div class="container">
    <div class="contact-wrapper">
      <div class="contact-heading">
        <h4>{{ 'CONTACT.HEADING' | translate }}</h4>
        <h1>{{ 'CONTACT.SUBHEADING' | translate }}</h1>
        <h2>{{ 'CONTACT.QUESTION' | translate }}</h2>
        <p>{{ 'CONTACT.DESCRIPTION' | translate }}</p>
        <p>{{ 'CONTACT.NEEDFRONTEND' | translate }} <a href="#contact">{{ 'CONTACT.TALK_BUTTON' | translate }}</a></p>
      </div>

      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-group">
          <hr>

          <!-- Name -->
          <label for="name">{{ 'CONTACT.NAME_LABEL' | translate }}</label>
          <input [(ngModel)]="contactData.name" type="text" id="name" name="name" class="input_field_text"
            #name="ngModel" required [ngClass]="{ 'input_error': contactForm.submitted && !name.valid }"
            placeholder="{{ contactForm.submitted && !name.valid ? ('CONTACT.NAME_ERROR' | translate) : ('CONTACT.NAME_PLACEHOLDER' | translate) }}" />
          <span *ngIf="!name.valid && name.touched" class="error">
            {{ 'CONTACT.NAME_ERROR' | translate }} {{ 'CONTACT.NAME_LABEL' | translate }}
          </span>
          <hr>


          <!-- Email -->
          <label for="email">{{ 'CONTACT.EMAIL_LABEL' | translate }}</label>

          <input [(ngModel)]="contactData.email" type="email" id="email" name="email" class="input_field_text"
            #email="ngModel" required
            [ngClass]="{ 'input_error': (contactForm.submitted || email.touched) && !email.valid }"
            placeholder="{{ 'CONTACT.EMAIL_PLACEHOLDER' | translate }}" />
          <span *ngIf="(contactForm.submitted || email.touched) && !email.valid" class="error">
            {{ 'CONTACT.EMAIL_ERROR' | translate }}
          </span>

          <hr>



          <!-- Message -->
          <label for="message">{{ 'CONTACT.MESSAGE_LABEL' | translate }}</label>
          <textarea [(ngModel)]="contactData.message" id="message" name="message" class="input_field_text"
            #message="ngModel" required [ngClass]="{ 'input_error': contactForm.submitted && !message.valid }"
            placeholder="{{ contactForm.submitted && !message.valid ? ('CONTACT.MESSAGE_ERROR' | translate) : ('CONTACT.MESSAGE_PLACEHOLDER' | translate) }}"></textarea>
          <span *ngIf="!message.valid && message.touched" class="error">
            {{ 'CONTACT.MESSAGE_ERROR' | translate }} {{ 'CONTACT.MESSAGE_LABEL' | translate }}
          </span>
          <hr>


          <!-- Privacy -->
          <label for="privacy">
            <input [(ngModel)]="contactData.privacy" type="checkbox" id="privacy" name="privacy" required
              #privacy="ngModel" />
            <span>
              {{ 'CONTACT.PRIVACY_LABEL' | translate }} <a [routerLink]="['/privacy']">{{ 'CONTACT.PRIVACY_Buttton' |
                translate }}</a>{{ 'CONTACT.PRIVACY_LABEL2' | translate }}
            </span>
          </label>
          <span *ngIf="!privacy.valid && privacy.touched" class="error">
            {{ 'CONTACT.PRIVACY_ERROR' | translate }}
          </span>

          <!-- Submit -->
          <div class="cta-buttons">
            <button class="btn" type="submit" [disabled]="!contactForm.valid">
              <span [class.scroll-text]="scrollActive" [class.allow-hover]="contactData.privacy">
                {{ 'CONTACT.SUBMIT' | translate }}

              </span>
            </button>
          </div>
        </div>

        <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

      </form>
    </div>
  </div>
</section>