<section class="legal_wrapper">
  <div class="legal_container">
    <h2>{{ 'privacyPolicy.title' | translate }}</h2>

    <h4>{{ 'privacyPolicy.dataController' | translate }}</h4>
    <ul>
      <li>{{ 'privacyPolicy.controllerDetails.0' | translate }}</li>
      <li>{{ 'privacyPolicy.controllerDetails.1' | translate }}</li>
      <li>{{ 'privacyPolicy.controllerDetails.2' | translate }}</li>
    </ul>

    <h4>{{ 'privacyPolicy.contactInformation' | translate }}</h4>
    <p>{{ 'privacyPolicy.email' | translate }}</p>

    <h4>{{ 'privacyPolicy.introductionTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.introduction' | translate }}</p>

    <h4>{{ 'privacyPolicy.dataWeCollectTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.dataWeCollect' | translate }}</p>
    <ul>
      <li>{{ 'privacyPolicy.dataWeCollectList.0' | translate }}</li>
      <li>{{ 'privacyPolicy.dataWeCollectList.1' | translate }}</li>
      <li>{{ 'privacyPolicy.dataWeCollectList.2' | translate }}</li>
    </ul>

    <h4>{{ 'privacyPolicy.purposeTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.purpose' | translate }}</p>
    <ul>
      <li>{{ 'privacyPolicy.purposeList.0' | translate }}</li>
      <li>{{ 'privacyPolicy.purposeList.1' | translate }}</li>
      <li>{{ 'privacyPolicy.purposeList.2' | translate }}</li>
    </ul>

    <h4>{{ 'privacyPolicy.legalBasisTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.legalBasis' | translate }}</p>
    <ul>
      <li>{{ 'privacyPolicy.legalBasisList.0' | translate }}</li>
      <li>{{ 'privacyPolicy.legalBasisList.1' | translate }}</li>
      <li>{{ 'privacyPolicy.legalBasisList.2' | translate }}</li>
      <li>{{ 'privacyPolicy.legalBasisList.3' | translate }}</li>
    </ul>

    <h4>{{ 'privacyPolicy.dataSharingTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.dataSharing' | translate }}</p>
    <ul>
      <li>{{ 'privacyPolicy.dataSharingList.0' | translate }}</li>
      <li>{{ 'privacyPolicy.dataSharingList.1' | translate }}</li>
    </ul>

    <h4>{{ 'privacyPolicy.dataStorageTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.dataStorage' | translate }}</p>

    <h4>{{ 'privacyPolicy.yourRightsTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.yourRights' | translate }}</p>
    <ul>
      <li>{{ 'privacyPolicy.yourRightsList.0' | translate }}</li>
      <li>{{ 'privacyPolicy.yourRightsList.1' | translate }}</li>
      <li>{{ 'privacyPolicy.yourRightsList.2' | translate }}</li>
      <li>{{ 'privacyPolicy.yourRightsList.3' | translate }}</li>
      <li>{{ 'privacyPolicy.yourRightsList.4' | translate }}</li>
      <li>{{ 'privacyPolicy.yourRightsList.5' | translate }}</li>
      <li>{{ 'privacyPolicy.yourRightsList.6' | translate }}</li>
    </ul>

    <h4>{{ 'privacyPolicy.cookiesTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.cookies' | translate }}</p>

    <h4>{{ 'privacyPolicy.thirdPartyTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.thirdParty' | translate }}</p>

    <h4>{{ 'privacyPolicy.changesTitle' | translate }}</h4>
    <p>{{ 'privacyPolicy.changes' | translate }}</p>

    <p>{{ 'privacyPolicy.questions' | translate }}</p>

    <p class="date">{{ 'privacyPolicy.date' | translate }}</p>
  </div>
</section>
