
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1C1C1C, #1e2b1f, #08463B);
  color: #ffffff;
  min-height: 100vh;
}

