
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Karla', sans-serif;
     
}

body {
 
 background-color: rgb(28, 28, 28);
  background: linear-gradient(35deg, rgba(28, 28, 28, 100) 85%, rgba(34, 92, 81, 1) 100%);
  color: #ffffff;
 width: 100%;
  overflow-x: hidden;
 
}
.cursor-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(61, 207, 182, 0.2) 0%, rgba(61, 207, 182, 0) 80%);
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
  z-index: 9999;
  mix-blend-mode: screen;
}

